body{
	font-family: Coronetscript, cursive;
	background-image: url("background-logo.jpeg") no-repeat; 
	background-size: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #1D591B;
	background: -moz-linear-gradient(top, #1D591B 0%, #26A44E 79%, #3CAB65 100%);
	background: -webkit-linear-gradient(top, #1D591B 0%, #26A44E 79%, #3CAB65 100%);
	background: linear-gradient(to bottom, #1D591B 0%, #26A44E 79%, #3CAB65 100%);

}
#header {
	background-color: #ffff;
	text-align: center;
	width: 100%;
	
}
#header > img {
	image-resolution: 100dpi;
}

#tool_bar{
	display: inline-block;
	outline: 4px;
	text-align: center;
	background-color: #113019;
	width: 100%;
	margin: 0 auto;
	opacity: 70%;
	height: 4rem;

}
body > div button{
	background-color: #113019;
	opacity: inherit;
	width: 15%;
	height: 50%;
	color: white;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin-top: 10px;
	margin-bottom: 1px;
	border: 10px solid #113019 ;
	
}
p {
	background-color: transparent;
	visibility: hidden;
}