@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0; 
    content: 0;
}
body{
    font-size: 25px;
}
#header{
    background-color: white;
    display: block; 
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    image-resolution: 100dpi;
}

#navigation_bar{
	display: inline-block;
	outline: 4px;
	text-align: center;
	background-color: #113019;
	width: 100%;
	margin: 0 auto;
	opacity: 70%;
	height: 50px;
}

.links{
    background-color: #113019;
	opacity: inherit;
	width: 100%;
	height: 100%;
	color: white;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
    margin: 10% auto;
    box-sizing: border-box;
    position: relative;
    top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
}
.social-networks{
	text-align: center;
}
.social-networks li{
	display: inline;
}
.social-networks i{
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #777777;
}
#filling_top {
    background: #113019;
    background: -moz-linear-gradient(top, #113019 0%, #FFFFFF 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #113019 0%, #FFFFFF 50%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #113019 0%, #FFFFFF 50%, #FFFFFF 100%);
}
.active {
	border-bottom: 3px solid #777777; 
}
#navigation_bar a:hover{
    border-bottom: 3px solid #777777; 
}
#gallery {
	clear: both;
	line-height: 0px;
	column-count: 4;
	column-gap: 0px;

}
#gallery img {
	width: 100%;
}
#footer{
    background-color:#FFFFEC;
}

.form_section{
    clear: both;
    background-image:url('../white&red1.jpeg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    overflow: auto;
}

 .signup-form {
  	margin-top: 300px;
  	color: #fff;
  	background-color: rgba(60, 60, 60, 0.6);
  	max-width: 400px;
  	position: relative;
  	left: 50%;
  	padding: 30px;
    margin-bottom: 40%;
  }
.signup-form h2{
  	color: #fafafa;
  	margin-bottom: 20px;
  }
.text-input{
	background-color: transparent;
	color: #fafafa;
	width: 100%;
	height: 25px;
	margin: 5px 0 20px 0;
	border: 1px solid #fafafa;
	border-radius: 2px;
}
.text-input:hover {
	border-color: #f16c6b;
}
.join-button {
	margin-top: 20px;
	border-radius: 2px;
	padding: 15px 32px 15px 32px;
	text-align: center;
	font-size: 100%;
	background-color: #f16c6b;
	color: #fafafa;
	display: block;
}
.join-button:hover{
	background-color: #fafafa;
	color: #f16c6b;
}

